.app-status-item-component{
    width: 400px;
    height: 400px;
    padding: 16px;
    background-color: #fff;
    border-radius: 24px;
    box-shadow: 6px 6px 24px -7px rgb(0 0 0 / 10%), 0 2.5rem 2rem -2.7rem rgb(26 60 77 / 40%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    &.--connected{
        color:#333;
    }
    &.--disconnected{
        color:#fff;
        background-color: #D8315B;
    }
    .app-status-item-icon{
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            
        }
    }
    .app-status-item-status{
        font-size: 1.5em;
        &.--connected{
            color: #2962FF;
        }
        &.--disconnected{
            color: #fff;
        }
    }
}