@use '../styles/Reboot.scss';
@use '../styles/Variables.scss';
@use '../Styles/PoppinsFont.scss';

.app-layout {
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);

}
.app-page{
  width: 100%;
  height: 100%;
  padding: 24px;
  display: flex;
  justify-content: center;
  background-color: #E9EBF8;
  overflow-y: auto;
}